@import '../variables.css';

@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i,700');

* {box-sizing: border-box;}

body {
    font-size: $fluidFontSize;
    hyphens: auto;
    color: $darker;
}

#root {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
    "header"
    "content"
    "footer";
    grid-template-rows: auto 1fr auto;
}

#main-head    {grid-area: header;}
#main-content {grid-area: content;}
#main-footer  {grid-area: footer;}

h1 {font-size: 2.5em;}
h2 {font-size: 2em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.25em;}
small {font-size: .5em;}

h1, h2, h3, h4 {
    line-height: 1.25;
    margin: 2rem 0 1rem;
    border-bottom: 1px solid $thin;
}
p {
    line-height: 1.5;
    margin-bottom: 1rem;
}

.maxwidth-wrap {
    width: 100%;
    max-width: $maxViewportSize;
    padding: $contentPadding;
    margin: 0 auto;
}
main {
    padding-top: $headerHeight;
    p {font-family: 'Cormorant Garamond', serif;}
}
footer {
    padding: $contentPadding;
    text-align: center;
    background: $dark;
    color: $light;
}