/* variables.css */
$dark: #3f4446;
$darker: #292d2f;
$thin: #696d6f;
$light: #F4ECEA;
$lightBlue: #6fb8e3;
$mediumBlue: #2f78a3;
$contentPadding: .5rem 1rem;
$headerHeight: 40px;

/* RESPONSIVE TYPOGRAPHY VALUES, SPECIFY WITHOUT PX
   https://www.smashingmagazine.com/2016/05/fluid-typography/ */
   $minFontVal: 20;
   $maxFontVal: 24;
   $minViewportVal: 480;
   $maxViewportVal: 1200;
   
   $minFontSize: $(minFontVal)px;
   $maxFontSize: $(maxFontVal)px;
   $minViewportSize: $(minViewportVal)px;
   $maxViewportSize: $(maxViewportVal)px;
   
   $fluidFontSize: calc($minFontSize + ($maxFontVal - $minFontVal) * (100vw - $minViewportSize) / ($maxViewportVal - $minViewportVal));
