<div class="form-wrap">
    <form id="sign-in">
        <h1>Log In</h1>
        <label for="email">Email</label>
        <input name="email" id="email" type="email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" title="Please provde an email in the form of you@somedomain.com" required>
        <label for="password">Password</label>
        <div class="pwd">
            <input type="password" id="password" name="password" required>
            <button type="button" class="show-password" tabindex="-1">Show</button>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>